.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.form{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.input{
    padding: 20px;
    background-color: transparent;
    border: 1px solid #53c28b;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #eee;
}

.button {
    width: 300px;
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
    font-size: 20px;
}

